/* Base font size */
html {
  font-size: 18px;
}

/* Universal styles */
body {
  color: white;
  font-family: Helvetica;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  width: 960px;
  background-color: black;
}

.header img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.header p {
  padding: 0.66rem 0.5rem;
}

/* Main content */
/* Main banner */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_banner {
  display: flex;
  justify-content: center;
  height: 25rem;
  width: 100%;
  background-image: url("./images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner_content {
  width: 960px;
  height: 25rem;
}

.new_arrival {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.new_arrival .line1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.new_arrival .line2 {
  font-size: 2rem;
  font-weight: bold;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: firebrick;
}

nav div {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: space-between;
}

nav span {
  margin: 0.75rem 0;
}

#Menu {
  display: none;
}

/* Shop */
.shop {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 3rem 0;
}

.shop_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  overflow: hidden;
  border: 4px solid black;
}

.shop_item img {
  max-height: 9rem;
  max-width: 8rem;
  width: auto;
  display: block;
  margin: 2rem;
}

.shop_item p {
  width: 100%;
  padding: 0.5rem 0;
  background-color: black;
  text-align: center;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem;
}

/* Information */
.information {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.information_item {
  width: 35%;
}

.information_item .line1 {
  background-color: black;
  padding: 1rem 0 1rem 2rem
}

.information_item .line2 {
  color: black;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  background-color: black;
}

.footer_content {
  width: 960px;
  padding: 5rem 0;
  background-color: black;
}

/* Media Querrys */

/* Tablet */
@media only screen and (max-width: 1024px) {

  /* Navigation */
  nav div span{
    display: none;
  }

  nav div {
    justify-content: center;
  }

  #Menu {
    display: block;
  }

  /* Shop */
  .shop {
    width: 100%;
    justify-content: space-between;
  }

  .shop_item {
    width: 47%;
  }

  .item3 {
    display: none;
  }

  /* Information */
  .information {
    width: 100%;
    justify-content: space-between;
  }

  /* Footer */
  .footer_content{
    width: 100%;
  }
}

/* Smartphone */
@media only screen and (max-width: 470px) {

  /* Main Banner */
  .main_banner {
    height: 15em;
  }

  .banner_content {
  }

  .new_arrival {
    width: 100%;
    margin-top: 10rem;
    padding: 0;
  }

  .new_arrival .line1 {
    font-size: 0.77rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .new_arrival .line2 {
      font-size: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    /* Shop */
    .shop {
      justify-content: center;
    }

    .item1 {
       width: 90%;
    }

    .item2 {
      display: none;
    }

    /* Information */
    .information {
      flex-direction: column;
      align-items: center;
    }

    .information_item {
      width: 90%;
      margin-top: 0.5rem;
    }

    /* Footer */
    footer div p {
      text-align: center;
    }
}
